<div style="width: 31%;float: left;">
    <div class="ui vertical menu">
        <a class="<%- active=='perfil'? 'active':''%> item" href="/perfil/<%- user.username %>">
            Meu perfil
            <div class="ui <%- active=='perfil'? 'teal left pointing':''%> label">!</div>
        </a>
        <a class="<%- active=='feed'? 'active':''%> teal item" href="/home">
            Feed
            <div class="ui <%- active=='feed'? 'teal left pointing':''%> label">!</div>
        </a>
        <a class="<%- active=='dm'? 'active':''%> item" href="/dm">
            Mensagens
            <div class="ui <%- active=='dm'? 'teal left pointing':''%> label">!</div>
        </a>
        <a class="<%- active=='amigos'? 'active':''%> item" href="/amigos">
            Amigos
            <div class="ui <%- active=='amigos'? 'teal left pointing':''%> label">!</div>
        </a>
        <a class="<%- active=='comunidades'? 'active':''%> item" href="/comunidades">
            Comunidades
            <div class="ui <%- active=='comunidades'? 'teal left pointing':''%> label">!</div>
        </a>
        <a class="<%- active=='configs'? 'active':''%> item" href="/configs">
            Configurações
            <div class="ui <%- active=='configs'? 'red left pointing':''%> label">!</div>
        </a>
    </div>
</div>