<% include('./partials/navbar') %>
<% include('./partials/footer') %>
<% include('./partials/header') %>
<% include('./partials/chat') %>
<%- include('./partials/header') %>
<% include('./partials/barra_lateral') %>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        background-color: #f0f0f0;
    }
</style>
<body>
<%- include('./partials/navbar') %>
<div class="ui grid" style="margin-top: 5%;">
    <div class="three wide column"></div>
    <div class="ui ten wide column">
        <%- include('./partials/barra_lateral') %>
        <div style='width:68%;float: right;'>
            <div class='ui' style="width: 100%;">
                <div class='ui segment' style="padding: 2% 2% 2% 2%">
                    <div class="ui menu">
                        <div class="item">
                            <div class="ui icon input">
                                <input type="text" placeholder="Search...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                        <div class="right item">
                            <div class="ui action input">
                                <input type="text" placeholder="Navigate to...">
                                <div class="ui button">Go</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment grid">
                        <div class="two wide column">
                            <img class="ui image avatar" style='width: 37px; height: 37px;' src="https://fomantic-ui.com/images/avatar2/large/matthew.png">
                        </div>
                        <div class="ten wide column">
                            <div class="header" style="margin-top: 2%">
                                <p>Nome desse contato</p>
                            </div>
                        </div>
                        <div class="four wide column">
                            <button class="ui icon button" style="margin: 1% 1% 1% 1%; background-color: red; width: 100%">
                                <i class="ban icon"></i>
                                Bloquear
                            </button>
                        </div>
                    </div>
                    <div class="ui segment grid">
                        <div class="two wide column">
                            <img class="ui image avatar" style='width: 37px; height: 37px;' src="https://fomantic-ui.com/images/avatar2/large/matthew.png">
                        </div>
                        <div class="ten wide column">
                            <div class="header" style="margin-top: 2%">
                                <p>Nome desse contato</p>
                            </div>
                        </div>
                        <div class="four wide column">
                            <button class="ui icon button" style="margin: 1% 1% 1% 1%; background-color: red; width: 100%">
                                <i class="ban icon"></i>
                                Bloquear
                            </button>
                        </div>
                    </div>
                    <div class="ui segment grid">
                        <div class="two wide column">
                            <img class="ui image avatar" style='width: 37px; height: 37px;' src="https://fomantic-ui.com/images/avatar2/large/matthew.png">
                        </div>
                        <div class="ten wide column">
                            <div class="header" style="margin-top: 2%">
                                <p>Nome desse contato</p>
                            </div>
                        </div>
                        <div class="four wide column">
                            <button class="ui icon button" style="margin: 1% 1% 1% 1%; background-color: red; width: 100%">
                                <i class="ban icon"></i>
                                Bloquear
                            </button>
                        </div>
                    </div>
                    <div class="ui segment grid">
                        <div class="two wide column">
                            <img class="ui image avatar" style='width: 37px; height: 37px;' src="https://fomantic-ui.com/images/avatar2/large/matthew.png">
                        </div>
                        <div class="ten wide column">
                            <div class="header" style="margin-top: 2%">
                                <p>Nome desse contato</p>
                            </div>
                        </div>
                        <div class="four wide column">
                            <button class="ui icon button" style="margin: 1% 1% 1% 1%; background-color: red; width: 100%">
                                <i class="ban icon"></i>
                                Bloquear
                            </button>
                        </div>
                    </div>
                    <div class="ui segment grid">
                        <div class="two wide column">
                            <img class="ui image avatar" style='width: 37px; height: 37px;' src="https://fomantic-ui.com/images/avatar2/large/matthew.png">
                        </div>
                        <div class="ten wide column">
                            <div class="header" style="margin-top: 2%">
                                <p>Nome desse contato</p>
                            </div>
                        </div>
                        <div class="four wide column">
                            <button class="ui icon button" style="margin: 1% 1% 1% 1%; background-color: red; width: 100%">
                                <i class="ban icon"></i>
                                Bloquear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column"></div>
</div>

<%- include('./partials/chat') %>
<%- include('./partials/footer') %>
</div>
</body>
</body>