<% include('./partials/navbar') %>
<% include('./partials/footer') %>
<% include('./partials/header') %>
<% include('./partials/chat') %>
<%- include('./partials/header') %>
<% include('./partials/barra_lateral') %>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        background-color: #f0f0f0;
    }
</style>
<body>
<%- include('./partials/navbar') %>
<div class="ui grid" style="margin-top: 5%;">
    <div class="three wide column"></div>
    <div class="ui ten wide column">
        <%- include('./partials/barra_lateral') %>
        <div style='width:68%;float: right;'>
            <div class='ui' style="width: 100%;">
                <div class='ui segment' style="padding: 2% 2% 2% 2%">
                    <div class="ui grid">
                    <div class="ui fourteen wide column grid">
                        <div class="two wide column" style="padding: 4%">
                            <i class="big address card icon"></i>
                        </div>
                        <div class="eight wide column">
                            <div class="ui"><b>Informações</b></div>
                            <div class="ui"><p>Nome, Idade, Trabalho</p></div>
                            <div class="ui red label">2 configurações pendentes</div>
                        </div>
                    </div>
                    <div class="two wide column" style="margin-top: 3%">
                        <i class="big angle right icon"></i>
                    </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big sitemap icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Configurações de segurança</b></div>
                                <div class="ui"><p>Visibilidade, mensagens</p></div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big bell icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Notificação</b></div>
                                <div class="ui"><p>Desativar notificações</p></div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big cog icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Conta</b></div>
                                <div class="ui"><p>Excluir minha conta</p></div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big book icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Termos de serviço</b></div>
                                <div class="ui"><p>Leia nossos termos</p></div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big book icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Regras de Uso</b></div>
                                <div class="ui"><p>Leia as regras da nossa rede social</p></div>
                                <div class="ui green label">Fique alerta em nossas regras!</div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big ban icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Lista de bloqueados</b></div>
                                <div class="ui"><p>Veja aqui todos os usuários dos quais você já bloqueou</p></div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="ui fourteen wide column grid">
                            <div class="two wide column" style="padding: 4%">
                                <i class="big globe icon"></i>
                            </div>
                            <div class="eight wide column">
                                <div class="ui"><b>Idioma</b></div>
                                <div class="ui"><p>Mude o idioma do site</p></div>
                            </div>
                        </div>
                        <div class="two wide column" style="margin-top: 3%">
                            <i class="big angle right icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column"></div>
</div>

<%- include('./partials/chat') %>
<%- include('./partials/footer') %>
</div>
</body>
</body>