<% include('./partials/navbar') %>
<% include('./partials/footer') %>
<% include('./partials/header') %>
<% include('./partials/chat') %>
<%- include('./partials/header') %>
<% include('./partials/barra_lateral') %>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        background-color: #d4d4d4;
    }
    .clickable:hover {
        cursor: pointer;
        color: #00b5ad;
    }
</style>
<body>
    <%- include('./partials/navbar') %>
    <div class="ui grid" style="margin-top: 6%;">
        <div class="three wide column"></div>
        <div class="one wide column">
            <%- include('./partials/barra_lateral') %>
        </div>
        <div class="nine wide column">
            <div style='width:68%;float: right;'>
                <div class='ui' style="width: 100%;">
                    <div class="ui form" style="margin-bottom: 2%" id='criaPost'>
                        <div class="ui field">
                            <div class="ui segments">
                                <div class="ui segment">
                                    <textarea cols='40' rows='4' placeholder="Que tá rolando?" style="resize: none;"></textarea>
                                </div>
                                <div class="ui secondary segment">
                                    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/kristy.png">
                                    <span class='subheader'>
                                        <%if(user.username){%>
                                            <%- user.nome %>
                                        <%} else {%>
                                            <%- 'Anônimo' %>
                                        <%}%>
                                    </span>
                                    <button class='ui button' style='float:right; background-color: #0e7e79; color: white'>
                                        Enviar
                                    </button>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class='ui segment' id='feed' style="background-color: transparent; border: 0; box-shadow: none;">
                    <div class='ui card' style="margin-top: 0; width: 100%">
                            <div class="content">
                                <div class="meta" style="float:right; margin-top: 1%">14h</div>
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/kristy.png"> Elliot
                            </div>
                            <div class="image">
                                <img src="https://fomantic-ui.com/images/wireframe/image.png" style="width: 100%">
                            </div>
                            <div class="ui content two column grid" style='padding: 0'>
                                <div class="ui six wide column">
                                    <i class="comment icon"></i>
                                        3 Comentários
                                </div>
                                <div class='ui ten wide column right aligned'>
                                    
                                  <span class='clickable'>
                                  <i class="heart outline icon"></i>
                                  17 Favs
                                  </span>
                                  <span class='clickable'>
                                    <i class="share icon" style="margin-left: 2%;"></i>
                                    Compartilhar
                                  </span>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
      </div>

      <%- include('./partials/chat') %>
      <%- include('./partials/footer') %>
    </div>
<script>
$(document).on('submit', 'form#criaPost', function(e){
    e.preventDefault();
    $.ajax({
      url: '/cria_post',
      method: 'post',
      data: {
        username: '<%- user.username %>',
        body: $('#bodyPost').val()
      }
    }).then((result) => {
      console.log(result)
    }).fail((msg) => {
    })
  })
</script>
</body>
