<% include('./partials/navbar') %>
<% include('./partials/footer') %>
<% include('./partials/header') %>
<% include('./partials/chat') %>
<%- include('./partials/header') %>
<% include('./partials/barra_lateral') %>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        background-color: #f0f0f0;
    }
</style>
<body>
    <%- include('./partials/navbar') %>
    <div class="ui grid" style="margin-top: 5%;">
        <div class="three wide column"></div>
        <div class="ui ten wide column">
            <%- include('./partials/barra_lateral') %>
            <div style='width:68%;float: right;'>
                <div class='ui' style="width: 100%;">
                    <div class='ui segment' style="padding: 2% 2% 10% 2%">
                        <div class="ui form">
                            <div class="field">
                                <textarea cols='40' rows='4' placeholder="Quer contar algo pra galera?" style='width: 90%; height: 10%; resize: none;'></textarea>
                                <img class="ui avatar image" style='width: 45px; height: 45px; margin-top: 1.5%; margin-right: 1.5%; float: left' src="https://semantic-ui.com/images/avatar2/large/kristy.png">
                            </div>
                            <button class='ui button' style='margin: 1% 0 5% 0;float:right'>
                                Enviar
                            </button>
                        </div>
                    </div>
                    <div class='ui loading segment' id='feed' style="background-color: transparent; border: 0; box-shadow: none;">
                    <div class='ui card' style="margin-top: 0; width: 100%">
                            <div class="content">
                                <div class="meta" style="float:right; margin-top: 1%">14h</div>
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/kristy.png"> Elliot
                            </div>
                            <div class="image">
                                <img src="https://fomantic-ui.com/images/wireframe/image.png" style="width: 100%">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                  <i class="heart outline like icon"></i>
                                  17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
      </div>

      <%- include('./partials/chat') %>
      <%- include('./partials/footer') %>
    </div>
</body>
</body>